body {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
}

.header {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.winner-title {
    background-color: #0099FF;
    color: #ffffff;
    height: 74px;
    width: 430px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 12px 12px 0 0;
    font-size: 33px;
}

.scoreboard-box {
    width: 50%;
    height: 148px;
    background-color: #0099ff;
    border-radius: 17px;
}